import type { NextPage } from "next";

import PageLayout from "components/PageLayout";

const {{ properCase name }}: NextPage = () => {
  return (
    <PageLayout title="{{properCase name}}">
      <h1>{{ properCase name }}</h1>
    </PageLayout>
  );
};

export default {{ properCase name }}
